# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#


version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:10
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      - run: yarn build
      - run: git clone git@github.com:WeDontWork/wedontwork.github.io.git /tmp/deploy
      - run: cp -R dist/* /tmp/deploy
      - run: git config --global user.email "bot@circleci.com"
      - run: git config --global user.name "CircleCI Bot"
      - run: cd /tmp/deploy && git add . && git commit -m "ci deploy" && git push origin master

workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          filters:
            branches:
              only: master